extends layout

block content
  form(method="post", action="/spaces")
    div
      h5 場所の名前
      input(type="text" name="spaceName")
    div
      h5 画像パス
      input(type="text" name="imgPath")
    button(type="submit") スペースをつくる
