extends layout

block content
  form(method="post", action="/spaces/create")
    .form-spaces
      .form-elem
        label.comp-ui 場所の名前
          input.comp-ui(type="text" name="spaceName")
      .form-elem
        label.comp-ui 画像パス
          input.comp-ui(type="text" name="imgPath")
      .form-elem
        label.comp-ui Slack webhookURL
          input.comp-ui(type="text" name="slackWebhookURL")
      .form-elem
        label.comp-ui Slack channel
          input.comp-ui(type="text" name="slackChannel")
      button.comp-ui(type="submit") スペースをつくる
