extends layout

block content
  #app
    .container
      h3.comp-head-middle
        span マイスペース
      ul.space-list
        li(v-for="space in spaces", v-bind:key="space.spaceId")
          .information 
            .photo
              img.responsive-img(v-bind:src="space.space.imgPath")
            .name {{space.space.spaceName}}
          .data
            .availabilities
              .head 今日のツモリスト
                span {{space.availabilities.length}} 人
              ul.body
                li.availability(v-for="availability in space.availabilities", v-bind:key="availability.userId", v-bind:class="availability.branchPoint")
                  .photo
                    img.profile-img(v-if="availability.thumbnailPath", v-bind:src="availability.thumbnailPath")
                    img.profile-img(v-else, v-bind:src="availability.photoUrl")
                  .name(v-if="availability.nickname") {{availability.nickname}}
                  .name(v-else) {{availability.username}}
                  .arriving {{availability.arrivingAt}} {{availability.leavingAt}}
                  span.now(v-if="availability.branchPoint") Now
              i.fas.fa-chevron-down.btn-more
          .action
            form(method="post", action="/availabilities")
              input(type="hidden" name="spaceId" v-bind:value="space.spaceId")
              input(type="hidden" name="availabilityUserFlag" v-bind:value="space.availabilityUserFlag")
              .plans
                .value.hour
                  select.comp-ui(name="hour")
                    each value in hours
                      option(value="#{value}") #{value}
                .unit.hour 時間
                .value.minute
                  select.comp-ui(name="minute")
                    each value in minutes
                      option(value="#{value}") #{value}
                .unit.minute 分後

block script
  script.
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        spaces: []
      },
      mounted() {
        fetch('/development/availabilities')
          .then(response => response.json())
          .then((data) => {
            this.spaces = data;
          })
      }
    });
