extends layout

block content
  #app
    .container
      .search-box.clearfix
        a.search-btn(href="#")
          i.fas.fa-search.fa-lg
        input.search-txt(type="text", name="", placeholder="Type to search")
      .select-space
        .check-ui(v-for="(space, index) in spaces", v-bind:key="space.spaceId")
          input(type="checkbox", v-model="selectedSpaces", v-bind:value="space.spaceId", v-bind:id="['select-space-input-' + index]")
          label(v-bind:for="['select-space-input-' + index]")
            {{space.spaceName}}
      ul.space-list
        li(v-for="(space, index) in selected", v-bind:key="space.spaceId")
          .information 
            .photo
              img.responsive-img(v-bind:src="space.imgPath")
            .name {{space.spaceName}}
          .data
            .availabilities
              .head 今日のツモリスト
                span {{space.availabilities.length}} 人
              ul.body
                li.availability(v-for="availability in space.availabilities", v-bind:key="availability.userId", v-bind:class="availability.branchPoint")
                  .photo
                    img.profile-img(v-if="availability.thumbnailPath", v-bind:src="availability.thumbnailPath")
                    img.profile-img(v-else, v-bind:src="availability.photoUrl")
                  .name(v-if="availability.nickname") {{availability.nickname}}
                  .name(v-else) {{availability.username}}
                  .arriving {{availability.arrivingAt}} {{availability.leavingAt}}
                  span.now(v-if="availability.branchPoint") Now
              i.fas.fa-chevron-down.btn-more
          .action
            form(method="post", action="/availabilities")
              input(type="hidden" name="spaceId" v-bind:value="space.spaceId")
              input(type="hidden" name="availabilityUserFlag" v-bind:value="space.availabilityUserFlag")
              .plans
                .value.hour
                  select.comp-ui(name="hour")
                    each value in hours
                      option(value="#{value}") #{value}
                .unit.hour 時間
                .value.minute
                  select.comp-ui(name="minute")
                    each value in minutes
                      option(value="#{value}") #{value}
                .unit.minute 分後
              template(v-if="space.availabilityUserFlag")
                .radio-block
                  input(type="radio", name="direction", value="arriving", v-bind:id="['direction_arriving_' + index]", checked="checked")
                  label(v-bind:for="['direction_arriving_' + index]") 行く
                  input(type="radio", name="direction", value="leaving", v-bind:id="['direction_leaving_' + index]")
                  label(v-bind:for="['direction_leaving_' + index]") 帰る
              button.tumoli-button.comp-ui(type="submit", name="action", value="tumoli") ツモリ
              button.tumoli-button.bel-button.comp-ui(v-if="space.availabilityUserFlag", type="submit", name="action", value="del") 取り消し

block script
  script.
    'use strict';

    var app = new Vue({
      el: '#app',
      data: {
        spaces: [],
        selectedSpaces: []
      },
      mounted() {
        fetch('/development/availabilities')
          .then(response => response.json())
          .then((data) => {
            this.spaces = data;
            for (var space of data) {
              this.selectedSpaces.push(space.spaceId);
            }
          })
      },
      computed: {
        selected: function() {
          return this.spaces.filter(function(el) {
            return this.selectedSpaces.indexOf(el.spaceId) >= 0
          }, this)
        }
      }
    });
