extends layout

block content
  .opening(style="background-image: url(images/bg_index.jpg);")
    .catch
      img.responsive-img(src="images/txt_index.svg")
  .container
    - var hasSpace = spaces.length > 0 
    if hasSpace
      h3.comp-head-middle
        span スペース一覧
      ul.comp-space-list.clearfix
        each space in spaces
          li(class="#{space.spaceId}") 
            .photo
              img.responsive-img(src="#{space.imgPath}")
            .name #{space.spaceName}
    h3.comp-head-middle
      span ツモリンクとは
    .description
      ある場所に、「今から行くつもり」という
      span 意思
      を簡単に発信してメンバーで共有することで、その場所に人々が集まる
      span キッカケ
      をつくります。
