extends layout

block content
  h1= title
  if loginUser
    - var hasSpace = spaces.length > 0
    if hasSpace
      h3 あなたのスペース一覧
      ul.space-list
        each space in spaces
          li 
            .information 
              .photo
                img.responsive-img(src="images/space.jpg")
              .name #{space.spaceName}
            .data
