extends layout

block content
  .opening(style="background-image: url(images/bg_index.jpg);")
    .catch
      img.responsive-img(src="images/txt_index.svg")
  .container
    - var hasSpace = spaces.length > 0 
    if hasSpace
      h3.comp-head-middle
        span スペース一覧
      ul.comp-space-list.clearfix
        each space in spaces
          li(class="#{space.spaceId}") 
            .photo
              img.responsive-img(src="#{space.imgPath}")
            .name #{space.spaceName}
    h3.comp-head-middle
      span ツモリンクとは
    .description
      人との出会いや交流のために「場」を利用する人が、「〇〇時間〇〇分後に行く
      span ツモリ
      」と発信したり、これから誰が行く
      span ツモリ
      なのかをチェックすることで、その「場」に行く
      span キッカケ
      をつくります。
