doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge7')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://tumolink.herokuapp.com/images/ogp.jpg')
    meta(property='og:title', content='ツモリンク')
    meta(property='og:image', content='https://tumolink.herokuapp.com/')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:site_name', content='ツモリンク')
    meta(property='og:description', content='ツモリをつなげて、みんながあつまるアプリケーションです')
    meta(property='fb:app_id', content='2057784567606618')
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@tumolink')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet', type='text/css')
    link(href='http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css' rel='stylesheet', type='text/css')
    link(href='http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css', rel='stylesheet', type='text/css')
  body
    header(class="clearfix")
      .menu
        div(id="nav-drawer")
          input(id="nav-input", type="checkbox", class="nav-unshown")
          label(id="nav-open",  for="nav-input")
            span
          label(class="nav-unshown", id="nav-close", for="nav-input")
          div(id="nav-content")
            .head
              label.nav-unshown(for="nav-input") MENU
            .navigation
              nav
                if loginUser
                  a(href="/home/") ホーム
                a(href="/privacy/") プライバシーポリシー
                a(href="https://www.livelynk.jp/" target="_blank") Livelynk
      .logo
         a(href="/")
           img(src="/images/logo.png" width="40" height="40")
      .login
        if loginUser
          span.login-user
            - var fbuser = loginUser.photos
            if fbuser
              img.profile-img(class="profile-img", src="#{loginUser.photos[0].value}")
            else
              span #{loginUser}
            .pulldown-menu
              p #{loginUser.displayName}
              a(href="/logout") ログアウト
        else
          span.nav-login
            i.fas.fa-sign-in-alt
    block content
    .overlay
      .modal
        .panel
          a.fb-login.comp-ui(href="/auth/facebook") Facebookでログイン
        button.close.comp-ui(type="button") close
    script(src="/javascripts/bundle.js")
