extends layout

block content
  .container
    - var hasSpace = spaces.length > 0 
    if hasSpace
      h3.comp-head-middle
        span スペース一覧
      ul.comp-space-list.clearfix
        each space in spaces
          li.registration(class="#{space.spaceId} registered-#{space.registration}") 
            .photo
              img.responsive-img(src="#{space.imgPath}")
            .name #{space.spaceName}
            .registration 
              if space.registration
                i.fas.fa-check-circle
              else
                i.fas.fa-circle
      a.comp-ui.comp-btn-navigate(href="/home/") ホームに戻る
