body {
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  font-size: 14px;
  padding: 60px 1em 0 1em;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-spacing: 0;
  width: 100%;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.pos-left {
  float: left;
}
.pos-right {
  float: right;
}
@media (min-width: 768px) {
  .pc-none {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .sp-none {
    display: none !important;
  }
}

/* overlay */
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transition: background-color 500ms ease;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
.overlay.visible {
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background: white;
}
.overlay.visible .modal {
  display: block;
}
.modal .panel {
  padding: 1em;
}
.modal .panel a {
  text-align: center;
  border: solid 1px #ddd;
  display: block;
  padding: .5em;
  text-decoration: none;
}
.modal .fb-login {
  background-color: #4267b2;
  border: 1px solid #29487d;
  color: white;
}
.modal .close {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background: rgba(250, 250, 250, .9);*/
  background: skyblue;
  height: 50px;
  z-index: 3;
  display: table;
}
header .menu,
header .logo,
header .login {
  display: table-cell;
  vertical-align: middle;
}
header .menu {
  text-align: left;
  width: 40%;
}
header .logo {
  text-align: center;
  width: 20%;
}
header .login {
  text-align: right;
  width: 40%;
}
header .logo img {
  height: 50px;
  width: auto;
}
header .login span,
header .login img {
  padding-right: 1rem;
}
header .profile-img {
  width: 30px;
  height: auto;
  vertical-align: middle;
} 
header .nav-login {
  cursor: pointer;
}

/* nav-drawer */
#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
  margin: 1rem;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
/* navigation */
.navigation nav a {
  display: block;
  padding: 1rem;
  border-bottom: solid 1px #ddd;
}
.navigation nav a:hover {
  background-color: #ddd;
}

/* container */
.container {
}

/* comp-ui */
.form-elem {
  margin-bottom: 1.5em;
}
label.comp-ui {
  font-weight: bold;
}
select.comp-ui {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  box-sizing: content-box;
}
button.comp-ui {
  width: 100%;
  padding: .5em;
  font-size: 16px;
  cursor: pointer;
  background: none;
}
input.comp-ui,
select.comp-ui,
textarea.comp-ui {
  width: 100%;
  padding: .5em;
  font-size: 16px;
  box-sizing: border-box;
  margin-top: .25em;
  border: solid 1px #ddd;
}
